*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
.DS_Store
*.pyc
data_for_graphs/bound_stuff/
data_for_graphs/test/
*.ipynb_checkpoints
*.dvi
*.out
venv*
data_for_graphs/clustered_bound_data.csv
data_for_graphs/ratio_bound_data.csv
data_for_graphs/ratio_data.csv
data_for_graphs/clustered_bound_data_2.csv
